body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 100px;
    margin-top: 0;
}
h1{
    text-align: center;
    background-color: #34bdfddc;
    color: rgb(15, 61, 70);
    padding: 10px;
    margin-right:38% ;
    margin-left:38% ;
    border: 2px dashed black;
    border-radius: 20px;
}
.draggableContainer{
    background-color: #f01d1d;
    border: 3px solid rgb(70, 27, 16);
    display: flex;
    margin-bottom: 150px;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 7px;
    padding-bottom: 10px;
}

.droppableContainer{
    background-color: #a371f3;
    border: 3px solid rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 7px;
    padding-bottom: 10px;
}

.box{
    display: flex;
    background-color: hwb(300 94% 6%);
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 110px;
    height: 50px;
    border-radius: 7px;
    border: 1px solid black;
}

.droppable{
    display: flex;
    background-color: rgb(111, 234, 250);
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    width: 110px;
    height: 50px;
    border-radius: 7px;
    border: 1px solid black;
}

.draggableFormat{
    font-family: sans-serif;
    font-weight: bold;
    color: rgb(0, 13, 255);
    border: 3px dashed rgb(68, 0, 196);;
    border-radius: 7px;
    margin-top: 10px;
}

.board{
    background-color: #dcf190;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    height: 40px;
    border: 5px inset black;
    border-radius: 7px;
    font-weight: bold;
}
#remarks{
    padding: 5px;
    display: flex;
    margin-right: 10px;
}
#scores{
    padding: 5px;
    display: flex;
    margin-right: 10px;
}