form {
    border: 3px solid black; 
    padding: 20px; 
    width: 300px; 
    margin: 20px auto; 
    background-color: rgb(178, 255, 242);
}

input[type="number"] {
    border: 2px solid black; 
    padding: 5px; 
    margin-bottom: 10px; 
    width: 90%; 
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button {
    margin-right: 10px; 
    padding: 5px 10px; 
    border: 1px solid gray; 
    cursor: pointer; 
}
#convertButton {
    border-radius: 5px; 
    background-color: lightgrey; 
}