body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

form {
    border: 3px solid black;
    padding: 40px;
    width: 300px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: aqua;
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#convertButton {
    border-radius: 10px;
    background-color: lightgray;
    padding: 5px 10px;
    margin-right: 10px;
}

button[type="reset"] {
    border-radius: 10px;
    background-color: lightgrey;
    padding: 5px 10px;
}

label {
    display: block;
    margin-bottom: 3px;
    font-weight: bold;
}